@use 'reset';
@use 'vars';

  @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.app {
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

h2 {
  // font-size: 1.7rem;
  // font-weight: bold;
  // margin: 3rem auto 3rem auto;
  // color: white;
  // text-shadow: 2px 2px 1px (vars.$main-color); /* Ajoute une ombre textuelle */
  font-size: 2rem;
  font-weight: 900;
  margin: 3rem auto;
  color: #fff; /* ou une autre couleur pour un meilleur contraste */
  text-shadow: 2px 2px 1px rgba(47, 113, 175, 0.7);
  /* Ajouter un dégradé sur le texte si nécessaire */
}

@media(max-width: 767px){
  h2{
    font-size: 1.5rem;
  }
}

h3 {
  margin: 1rem auto;
  font-size: 1.5rem;
  font-weight: bold;
}

h4 {
  margin: .7rem auto;
  font-size: 1.3rem;
  font-weight: bold;
}

p {
  line-height: 1.4rem;
  font-size: 1rem;
}

button {
  background-color: vars.$main-color !important;
  color: white;

  &:hover{
    background-color: #3988d3 !important;
  }

  // span {
  //   color: white;
  //   font-weight: bold;
  // }
}


.btn-primary { 
  --bs-btn-bg: #2f71af;
  --bs-btn-border-color:#2f71af;
}

.container {
  // margin-top: 4rem;
}

strong {
  font-weight: bold;
}
/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/

