.app {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #6DD5FA, #FF758C); // Example gradient

}

.app img {
  max-width: 150px;
}
