

.subscribe-form-container{

  .subscribe-section{
    height: 500px;
    width: 600px;
    margin: 0;

    form{
      padding-right: 2.5rem;
      padding-left: 1rem;

      label{
        font-family: 'Nunito', sans-serif;
      }
    }

    input{
      max-width: 400px;
    };
  }

  .birthday-label{
    font-family: 'Nunito', sans-serif;
    font-size: 14px !important;
    margin-left: 25px;
  }

  .birthDate {
    border: 1px solid rgba(128, 128, 128, 0.568);
    border-radius: 5px;
    line-height: 2.5rem;
    margin-left: .5rem;
    padding-left: 1rem;
    font-family: 'Nunito', sans-serif;
  }

  .birthday-container{
    .ant-form-item-control-input-content{
      text-align: left;
    }
  }
}