

.subscribe-form-container{

  .subscribe-section{
    height: fit-content;
    width: fit-content;
    max-width: none;
    // margin: 0;

    form{
      padding-right: 2.5rem;
      padding-left: 2.5rem;
      // width: 700px;

      label{
        font-family: 'Nunito', sans-serif;
      }
    }

    input{
      max-width: 400px;
    };
  }

  .birthday-label{
    font-family: 'Nunito', sans-serif;
    font-size: 14px !important;
    margin-left: 25px;
  }

  .birthDate {
    border: 1px solid rgba(128, 128, 128, 0.568);
    border-radius: 5px;
    line-height: 2.5rem;
    margin-left: .5rem;
    padding-left: 1rem;
    font-family: 'Nunito', sans-serif;
  }

  .birthday-container{
    .ant-form-item-control-input-content{
      text-align: left;
    }
  }

  .ant-col.ant-col-12.ant-col-offset-6.ant-form-item-control.css-dev-only-do-not-override-gzal6t{
    margin: auto;
  }

  .subscribe-btn{
    margin-top: 1rem;
    text-align: center;
    

    &:hover{
      background-color: #3988d3 !important;
    }
  }
}