@use 'src/styles/vars';

.home {


  .header-image {
    background-image:url(../../../src/assets/images/pexels-ylanite-koppens-776654\ \(1\).jpg);
    background-position: top;
    width: 99.1vw;
    height: 300px;
    background-size:cover;
  }

  .presentation {
    // margin: vars.$body-y-margins vars.$body-x-margins;
  }

// ----------------------------- BLOCK CLASSEMENT--------------------------
  .classement {

    .card-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 2rem;
    }

    
    .card {
      margin: auto;
      width: 32%;
      flex: wrap;
      min-width: 300px;
    }

    .card-body h4 {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 0;
      text-align: left;;
      font-size: 1.5rem;
      color: green;
    }

    .game-category {
      color: green;
    }

    .card-body p {
      padding-bottom: .5rem;
    }

    .card-body ul, p {
      text-align: left;
    }

    .card-body strong {
      font-weight: bold;
      font-size: 1.4rem;
      padding: 1.5rem 0;
    }

    .card-body li {
      line-height: 2rem;
    }

    .chart-card {
      display: flex;
      justify-content: center;
    }

    
    
  }
  

  @media (min-width: 750px) {
    .classement .card {
      min-width: 415px;
    }

    .chart-card {
      display: flex;
      justify-content: center;
      margin: 5rem;
    }

    .classement-pie {
      margin: auto;
    }

  }


}


