@use 'src/styles/vars';


.navbar {
  width: 100%;
  background-color: vars.$main-color !important;
  color: white;
  min-height: 80px;

  .container {
    margin: auto 0;
    display: flex;
  }

  .central-container{
    min-width: 75vw;

    .central-menu {
      width: 100%;
      margin:auto;
      display: flex;
      justify-content: center;
      // min-width: 66%;
    }
    .nav-link {
      margin: auto .7rem ;
    }

    .show{
      color: white !important;
    }
}
  

  a {
    color: white;
  }

  .navbar-toggler-icon {
    color: white;
  }

  .dropdown-menu {
    background-color: vars.$main-color;
    color: white;
    text-decoration: none;

    // li {
    //   margin: 0 !important;
    // }

    .dropdown-item {
      background-color: vars.$main-color;
      color: white;
      text-decoration: none;
      line-height: 1.8rem;
      width: 100%;

      &:hover {
        background-color: white;
        transition-duration: .3s;
        color: vars.$main-color !important;
      }
    }
  }

  // li {
  //   display: flex;
  //   align-items: center;
  //   font-weight: bold;
  // }

  // .navbar-nav li {
  //     margin: auto .8rem;
  //     display: flex;
  //     flex-direction: column;
  // }

  // & a {
  //   color: white;
  // }

  a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
    text-underline-offset: 8px;
    // border-bottom: 1px solid white;
    // transition:border-bottom .5s;
    // background-color: white;
    // color: vars.$main-color;
  }

  a:focus {
    color: white !important;
    // outline: 1px solid;
    // text-decoration: underline;
    // text-underline-offset: 8px;
    // font-weight: 600;
  }
  
  .menu-wrapper {
    // display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }

  .title-icon {
    font-size: 1.5rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;

    
  }

  .navbar-brand {
    margin-top: -1.2rem;
    margin-left: 1rem;
    margin-bottom: -1rem;
    // font-style: italic;
    font-size: 1.1rem;

    &:hover {
      color:white;
    }
  }

  .navbar-nav {
    // align-items: center;
    margin: auto;
  }

  .navbar-avatar{
    position:absolute;
    right:50px;
  
    .nav-link{
      display: flex;
        // display: -webkit-box;
        // display: -ms-flexbox;
        // display: flex;
        justify-content: center;
        margin-top: 1rem;
        align-items: center;
        margin: 0;
      // justify-content: flex-end;
    }
  }

  .icon {
    margin-right: 0.5rem;
    padding: .5rem;
    font-size: 1.5rem;
    border: solid 1px;
    border-radius: 20px;
  }

  .seConnecter {
    // margin-right: 2rem;
    // padding-bottom: .7rem;
  }

  .connexion-wrapper {
    display: flex;
    align-items: center;
  }

  .navbar-toggler-icon {
    color: white;
  }
}


@media (max-width: 992px){

  .central-container{
    margin-top: 20px;
  }
  .dropdown-menu{
    justify-content: center;
    // transition-property: all;
    // transition-duration: 1s;

    .dropdown-item{
      text-align: left;
      padding-left: 2rem;
    }

  }
}

