@use 'src/styles/vars';


.navbar {
  width: 100%;
  background-color: vars.$main-color;;
  color: white;

  & a {
    color: white;
  }

  & a.active {
    color: white !important;
  }
  
  .title-icon {
    font-size: 2rem;
    margin-right: 1rem;
  }

  .navbar-brand {
    padding-bottom: 0rem;
  }

  .icon {
    padding: .5rem;
    font-size: 1.5rem;
    border: solid 1px;
    border-radius: 20px;
  }
  
  

}


