
.addPlayer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // padding: 20px;
    background: linear-gradient(to right, #6DD5FA, #FF758C); // Example gradient
    height: calc(100vh - 85px);
    width: 100% !important;
    max-width: none;
    min-width: 100%;

    .form-container{
        width: 100%;
    }
    
    section {
        height: fit-content;
        width: 400px;
        background: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 600px;
        margin: 20px;
        text-align: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    
        Form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        }
    }
}

@media(max-width:767px){
    .addPlayer-container{
        .form-container{
            min-width: 100%;
            padding: 0;

            
        }
        section{
            width: 100%;
            margin: 0;
        }
    }
}