@use 'src/styles/vars';

.dashboard {
  margin-top: 0;

  section {
    padding-bottom: 1rem;
  }

  h4 {
    margin-top: 2rem;
  }

// --------------------------PROFIL CONTAINER--------------------
  .profil-container {
    display: flex;
    margin: auto;
    border-bottom: 1px solid rgba(128, 128, 128, 0.637);
    padding-bottom: 1rem;

    .avatar-img {
      width: 30%;
      margin-left: 1rem;
      margin-right: 1rem;

      img {
        width:100%;
      }
    }

    .profil-text {
      // text-align-last: left;
      width: 70%;

      .pseudo {
        text-align: left;
        margin-bottom: .5rem;
      }

      .email {
        text-align: left;
      }

      .profil-edit-btn {
        text-align: center;
        color: white;
        margin-top: .6rem;
        
        .profil-edit-link {
          background-color: vars.$main-color;
          border: 1px solid;
          border-radius: 10px;
          padding: .2rem .5rem;
        }
      }
    }

  }
  // ----------------------END PROFIL CONTAINER--------------------------

// --------------------------SCORES CONTAINER--------------------

  .scores-container {
    border-bottom: 1px solid;

    .resultats-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;

      .resultat-pieChart {
        display: flex;
        min-width: 300px;
        max-width: 400px;
        margin: auto;
        // max-width: 80%;
        height: 200px;
        width: 80%;

        // .pieChart-wrapper {
        //   max-width: 100px;
        // }
      }

    }
    .resultat-table {
      // width: 70%;
      margin: 1.5rem auto;
      min-width: 200px;
      max-width: 360px;
      // text-align-last: left;
      border: 1px solid grey;
      border-radius: 10px;
      

      .table {
        margin-bottom: 0PX;

        thead {

          th {
            text-align: center;
            font-weight: bold;
            color: vars.$main-color;
          }
        }

        tbody {

          th {
            text-align: center;
            font-weight: bold;
          }

          td {
            vertical-align: middle;
          }
        }
      }

    }
  }

// --------------------------TOP GAMES CONTAINER--------------------

}
