@use 'src/styles/vars';


.footer {
  // position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;   /* Height of the footer */
  background: rgb(46, 45, 45);
  color: white;
  margin-top: vars.$body-y-margins;

  & ul {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

